.AddCarForm {
  width: 75%;
  height: 80%;
  margin: 4% auto;
  border-radius: 35px;
  -webkit-box-shadow: 2px 1px 1px 2px #292d44;
          box-shadow: 2px 1px 1px 2px #292d44;
  border: 1px solid #4B66F5;
  background-color: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.AddCarForm .AddCarForm__content {
  width: 90%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.AddCarForm .AddCarForm__content .AddPhoto {
  position: relative;
  width: 45%;
  height: 90%;
  margin-right: 5%;
  -webkit-box-shadow: 2px 1px 1px 2px #292d44;
          box-shadow: 2px 1px 1px 2px #292d44;
  border: 1px solid #4B66F5;
  background-color: rgba(0, 22, 95, 0.2666666667);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.AddCarForm .AddCarForm__content .AddPhoto .AddPhoto__img {
  width: 15%;
  height: 15%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 3%;
}
.AddCarForm .AddCarForm__content .AddCarForm__form {
  width: 50%;
}